@page
@model WoWRazorPage.Pages.Blizzard.HomeModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<h2>Home</h2>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="@Url.Content("~/css/CollapseList.css")" rel="stylesheet" type="text/css" />
</head>
<div id="errorDiv" class="alert alert-danger" role="alert" hidden="hidden"></div>
<form method="post" id="commentForm">
    <div>
        <input type="text" name="CharacterName" placeholder="Character Name" required="required" />
        <input type="text" name="Realm" placeholder="Realm" required="required" />
    </div>
    <div>
        <div>
            <select class="custom-select" required="required" name="MainStatName">
                <option value="">Select your Main Stat</option>
                <option value="Agility">Agility</option>
                <option value="Intellect">Intellect</option>
                <option value="Strength">Strength</option>
            </select>
        </div>

        <input type="text" name="MainStatWeight" placeholder="MainStat Weight" required="required"/>
        <input type="text" name="CritWeight" placeholder="Crit Weight" required="required" />
        <input type="text" name="HasteWeight" placeholder="Haste Weight"  required="required" />
        <input type="text" name="MasteryWeight" placeholder="Mastery Weight" required="required" />
        <input type="text" name="VersatilityWeight" placeholder="Versatility Weight" required="required" />
    </div>
    <div>
        <button class="btn btn-default"> ON POST</button>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script>
    $("#commentForm").validate({
        errorClass: "bg-danger",
        validClass: "bg-white",
  invalidHandler: function(event, validator) {
    // 'this' refers to the form
    var errors = validator.numberOfInvalids();
    if (errors) {
      var message = 
        'Please fill out all fields'
      $("#errorDiv").html(message);
      $("#errorDiv").show();
    } else {
      $("#errorDiv").hide();
    }
    },
      errorPlacement: function(error,element) {
    return true;
  }
});
</script>