@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This tool looks through dungeons and raids and finds items that would be upgrades based on the stat weights you provide.</p>
<p>The tool considers +10 dungeons and mythic raids. If an item is not an upgrade, the tool will look at the item's warforged stats until it finds an upgrade (max 4 forges)</p>
